:root {
	--siz-text: 100%;
	--all-height: 100%;
	--mask-height: 5%;
	--caja-disp: inline-block;
	--all-bord: 1px;
	--alig-text: center;
	--cel-siz: 100%;
	--cel-siz-name: 100%;
}

.cajas_style {

	display:var(--caja-disp);
	margin:2px;
}

.table_style{
	width: 100%;
	height:var(--all-height);
}

.menu_style {
	color: #fffffe;
	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);

	width: 99%;
	height:var(--all-height);

	border-width: var(--all-bord);
	border-style: solid;
	border-color: #fafafa;

	margin: 10% auto;
	background-color: rgba(33, 159, 144, 0.7);
}

.colum_selec_style {

	color: #fffffe;
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	width: auto;
	height:var(--all-height);

	border-style: solid;
	border-color: #0000ff;
	border-width: var(--all-bord);

	background-color: rgba(20, 24, 80, 0.5);
	overflow: hidden;

}
.colum_click_style {

	color: #fffffe;
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	width: auto;
	height:var(--all-height);

	border-style: solid;
	border-color: #0000ff;
	border-width: var(--all-bord);

	background-color: rgba(67, 195, 48, 0.4);
	overflow: hidden;

}

.celda_style {

	color: #fffffe;
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	width: var(--cel-siz);
	height: auto;

	overflow: hidden;
}

.celda_style_x {

	color: #001326;
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	width: 0.5%;
	height: 0.5%;

	border-style: solid;
	border-color: #0000ff;
	border-width: var(--all-bord);

	background-color: #6e3068;

	overflow: hidden;

}


.celda_style_td {

	color: #001326;
	text-align: center;
	font-weight: bold;
	font-size: var(--siz-text);

	width: 10%;
	height: 10%;

	border-style: solid;
	border-color: #0000ff;
	border-width: var(--all-bord);


	overflow: hidden;

}

.celda_style_table {

	color: #001326;
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	width: 10%;
	height: auto;

	border-style: solid;
	border-color: #0000ff;
	border-width: var(--all-bord);


	overflow: hidden;

}

.celda_style_name {
	color: #fffffe;
	text-align: var(--siz-text);
	font-weight: bold;
	font-size:var(--siz-text);

	width: 10%;
	height: 10%;

	border-style: solid;
	border-color: #fffffe;
	border-width: var(--all-bord);

	background-color: #6e3068;
	overflow: hidden;

}

.button_style_x {
	color: #fffffe;
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	width: 100%;
	height:var(--all-height);

	border-style: solid;
	border-color: #fffffe;
	border-width: var(--all-bord);

	background-color: #ce181e;

	overflow: hidden;
}

.input_style {

	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 5%;
	height: 10%;

	background: rgba(55, 64, 145, 0.4);
	overflow: hidden;

}

.input_style_name {

	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	border-style: solid;
	border-color: #ffffff;
	border-width: var(--all-bord);

	color: #ffffff;
	width: 10%;
	height: 10%;

	background: rgba(55, 64, 145, 0);
	overflow: hidden;

}
.input_style_td {

	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 100%;
	height: 20px;

	background: rgba(55, 64, 145, 0.4);
}

.input_text_style {
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 100%;
	height:var(--all-height);

	background: rgba(55, 64, 145, 0.4);
	overflow: scroll;
}

.input_style_hidden {
	display: none;

}

.input_style_visible{

	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #fffffe;
	width: 100%;


	border-style: solid;
	border-color: #fffffe;
	border-width: var(--all-bord);

	background: #2a7991;
	overflow: hidden;

}

.input_style_edicion{
	text-align: center;
	font-weight: bold;
	font-size: 100%;

	color: #0000ff;
	width: 100%;
	height:var(--all-height);

	border-style: solid;
	border-color: #000000;
	border-width: var(--all-bord);

	background: rgba(225, 225, 225, 0.9);
	overflow: hidden;

}
.input_style_edicion_td{
	text-align: center;
	font-weight: bold;
	font-size: 100%;

	color: #ffffff;
	width: 100%;


	background: rgba(128, 148, 158, 0.8);
	overflow: hidden;

}

.input_style_selec {

	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 100%;
	height:var(--all-height);

	background-color: rgba(206, 24, 30, 0.5);
	overflow: hidden;

}

.mask_style {
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 100%;
	height:var(--all-height);

	background: rgba(55, 64, 145, 0.4);
	overflow: hidden;
}
.butt_selec_style {
	text-align: center;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 100%;
	height:var(--all-height);

	background-color: rgba(206, 24, 30, 0.5);
	overflow: hidden;
}
.div_list_style {
	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 100%;
	height:var(--all-height);

	border-width: var(--all-bord);
	border-style: solid;
	border-color: #fafafa;

	background: rgba(55, 64, 145, 0.4);
	overflow: hidden;
}

.div_his_list_style {
	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 100%;
	height:var(--all-height);

	background: rgba(55, 64, 145, 0.4);
	overflow: hidden;
}
.menu_list_style {
	display: block;

	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 200px;
	height:var(--all-height);

	border-width: var(--all-bord);
	border-style: solid;
	border-color: #fafafa;

	background: rgba(55, 64, 145, 0.4);
	overflow: hidden;
	margin:2px;
}
.menu_title_style {
	display: var(--caja-disp);

	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);

	color: #ffffff;
	width: 200px;
	height:var(--all-height);

	background: rgba(55, 64, 145, 0.4);

	margin:2px;
}


.colum_name_style {

	color: #fffffe;
	text-align: var(--alig-text);
	font-weight: bold;
	font-size: var(--siz-text);

	width: var(--cel-siz-name);


	background-color: #6e3068;
	overflow: hidden;
}

.total_style {

	color: #f9f8d8;
	text-shadow: 2px 2px 2px #000000;
	text-align: right;
	font-weight: bold;
	font-size:var(--siz-text);

	width: 100%;
	height:var(--all-height);

	overflow: hidden;

}

.fila_selec_style {
	background-color: rgba(206, 24, 30, 0.5);
}

.fila_style_hidden {
	display: none;
}


tr, .fila_style:nth-child(odd) {
	background: #aadcf7;
	color: #ffffff;
}
tr, .fila_style:nth-child(even) {
	background: #47bafc;
	color: #ffffff;
}

tr, .fila_style:hover {
	background-color: rgba(206, 24, 30, 0.5);
}

.div_his_list_style:hover {
	border-width: var(--all-bord);
	border-style: solid;
	border-color: #fafafa;

	background: rgba(70, 30, 130, 0.6);
}

.div_list_style:hover {
	background-color: rgba(206, 24, 30, 0.5);
}

.menu_list_style:hover {
	background-color: rgba(206, 24, 30, 0.5);
}

.label_style {
	color: #fffffe;
	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);

	width: 99%;
	height:var(--all-height);

	border-width: var(--all-bord);
	border-style: solid;
	border-color: #fafafa;

	margin-left: 0.2%;
	background-color: rgba(33, 159, 144, 0.3);
}

.button_style_r {
	color: #fffffe;
	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);

	width: 5%;
	height:var(--all-height);

	border-width: var(--all-bord);
	border-style: solid;
	border-color: #fafafa;

	margin-left: 0.2%;
	background-color: #219f90;
}

.restaurar {
	clear: both;
}
.element_style_hidden {
	display: none;

}
.mask_style:hover {
	background-color: rgba(206, 24, 30, 0.5);
}
.input_style_edicion_td:hover {
	background-color: rgba(206, 24, 30, 0.5);
}

.logo_style {
	width: 60%;
	height: 150px;
}

.logo_div_style {

}

input::placeholder{
	color: #d0d5d9;
}

input[type='file'] {

	overflow: hidden;
	text-align: left;
	font-weight: bold;
	font-size:var(--siz-text);
	width: 100%;
}



