h1{
	color: #ce181e;
}
h2{
	color: #ce181e;
}
p{
	color: orange;
}
table {
	border-color: blue;
	border-bottom-color: blue;
	
}

body{
	font-family: "Times New Roman", Times, serif;
}

hr{
	color: blue;
}




